.btn {
  width: 150px;
  height: 50px;
  background: lightgrey;
  border: 0;
  cursor: pointer;
  color: $black;
  font-family: Roboto-Bold;
  text-transform: uppercase;
  border-radius: .5rem;
  text-decoration: none;
  text-align: center;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.primary {
  background: $aqua;
  color: $white;
}

.btn.secondary {
  background: $blue;
  color: $white;
}

.btn-outline {
  width: 275px;
  height: 45px;
  cursor: pointer;
  border: 0;
  background: rgba(0,0,0,0);
  border-radius: .5rem;
  font-size: .9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: Roboto-Bold;
  text-decoration: none;
}

.btn-outline.white {
  border: 2px solid $white;
  color: $white;
}