
header.img-header-contact {
    background: url('../../assets/header-contacto.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-header {
    width: 100%;
    height: 100%;
    background: var(--darkblue);
    opacity: .9;
}

.header-contact {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
}

.header-contact__intro {
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.header-contact__subtitle {
    display: flex;
    align-items: center;
}

.header-contact__title p {
    font-size: 1rem;
    color: var(--white);
    text-align: left;
}

.line-white {
    width: 40px;
    height: 1px;
    background: var(--white);
    margin: 0 1rem 0 0;
}

.header-contact__title {
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.header-contact h1 {
    font-size: 4.65rem;
    color: var(--white);
    font-family: Roboto-Bold;
    text-align: left;
    padding-bottom: 1rem;
}

.header-contact__intro h2 {
    font-size: 1rem;
    color: var(--white);
    text-align: center;
    padding: 0 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

@media(max-width:  992px) {
    .header-contact h1 {
        font-size: 3.5rem;
    }
    .header-contact__intro {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .header-contact__title {
        width: 100%;
        align-items: center;
    }
    .header-contact__title p {
        padding: 0 3rem;
        text-align: center;
    }
}