.section-about-us {
    width: 100%;
    height: auto;
    background: $white;
    padding: 7rem 0;
    display: grid;
    grid-template-columns: 1fr;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-size: 1.1rem;
            padding: 0 1rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
        font-family: Roboto-Bold;
        padding: 2rem 1rem;
    }
    h3 {
        font-size: 1.3rem;
        text-align: center;
        padding: 0 2rem;
        line-height: 2rem;
        letter-spacing: .05rem;
    }
    &__list-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem 1rem;
    }
    &__list-2 {
        padding: 2rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.section-about-us__list-1 li, .section-about-us__list-2 li {
    width: 350px;
    height: 290px;
    @include flex-center-column;
    background: $white;
    border-radius: 3rem 0 3rem 0;
    margin: 0 auto;
    transition: .25s ease-in-out;
}

.section-about-us__list-1  li figure img, .section-about-us__list-2 li figure img {
    width: 100%;
    height: 100%;
}

.section-about-us__list-1  li p, .section-about-us__list-2 li p {
    text-align: center;
    font-family: Roboto-Medium, sans-serif;
    font-size: 1.25rem;
    padding-top: 1rem;
}

.section-about-us__list-1 li:hover, .section-about-us__list-2 li:hover {
    box-shadow: 0 0 1rem rgba(0,0,0,.3);
}

@media(max-width: $lg) {
    .section-about-us__list-1 li, .section-about-us__list-2 li {
        width: 300px;
        height: 290px;
    }
}

@media(max-width: $md) {
    .section-about-us__list-1 li, .section-about-us__list-2 li {
        width: 200px;
        height: 210px;
    }
    .section-about-us__list-1 li p, .section-about-us__list-2 li p{
        font-size: 1rem;
        padding: .5rem;
    }
}